body {

    margin: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {

    display: flex;
    background: rgb(0, 0, 0);
    width: 100%;
    max-width: 90%;
    flex-direction: column;

    gap: 10px;
}

.box {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}



.problema {
    background: #f44336;
    height: 120px;
}

.formula {
    background: #2196F3;
    flex: 1;
    height: 200px;
}

.solucao {
    background: #FF9800;
    flex: 1;
    height: 200px;
}



.bottom {

    display: flex;
    gap: 10px;
}

.btn {

    bottom: 0px;
    background: #FF9800;
    height: 100px;
}

.navegar {
    background: #4CAF50;
    margin-left: auto;
    margin-left: auto;
}